//variables
$grey: #F4F4F4;
$green: #8AC858;
$brown: rgb(65, 52, 52);
$font-color: #000;
$grey-border: #A9A9A9;
$red: #970C0C;
$blue: #5284BF;

$font: 'Fira Sans', sans-serif;

//config
@import "config/mixins";
@import "config/base";
@import "config/normalize";
@import "config/ui";

//layout
@import "layout/adjustment";

//blocks
@import "blocks/logo";
@import "blocks/header";
@import "blocks/panel";
@import "blocks/my-books";
@import "blocks/current-books";
@import "blocks/complete-books";
@import "blocks/book-card";
@import "blocks/search";