.wrapper {
        width: 100%;
        overflow: hidden;
        background-color: $grey;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        // background: $grey url('../src/assets/img/bg.png');
}

.container {
        max-width: 1920px;
        margin: 0 auto;
        width: 95%;
}

.main {
        flex: 1; 
}

.content {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        height: 100%;
}

