.panel {
    // min-height: 500px;
    height: 100%;

    &__title {
        font-size: 17px;
        margin-bottom: 10px;
        // opacity: 0.7;
        color: $brown;
    }

    &__block {
        background-color: #fff;
        border-top: 5px solid $blue;
        height: 100%;
    }

    &--left, &--right {
        width: 340px;
    }

    &--center {
        flex-grow: 1;
        margin: 0 25px;
    }

    &__content {
        overflow-y: scroll;
        height: 500px;
        &::-webkit-scrollbar-button {
            background-image:url('');
            background-repeat: no-repeat;
            width: 5px;
            height: 0px;
            }
            
            &::-webkit-scrollbar-track {
            background-color: transparent
            }
            
            &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0px;
            border-radius: 0px;
            background-color: rgba($blue, 0.5);
            }
            
            &::-webkit-scrollbar-thumb:hover{
            background-color: rgba($blue, 0.9);
            }
            
            &::-webkit-resizer{
            background-image:url('');
            background-repeat:no-repeat;
            width:4px;
            height:0px
            }
            
            &::-webkit-scrollbar{
            width: 4px;
            }
    }

    &__head {
        padding: 10px;
        border-bottom: 1px solid $grey;
        padding-bottom: 25px;
        min-height: 72px;
    }
}